# .env
DB_HOST=postgres
DB_PORT=5432
DB_NAME=neomarket_b2b
DB_USER=postgres
DB_PASS=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/neomarket_b2b
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/neomarket_b2b

SECRET_KEY=5fd18rllGd7aa5YKJilSaGPpsA6kpgeIOME0Pu2wQ1M
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=7

#В Docker-окружении DB_HOST должен быть postgres (имя сервиса), а не localhost. 
#Это уже настроено в docker-compose.yml.