# .env
DB_HOST=postgres
DB_PORT=5432
DB_NAME=neomarket_b2b
DB_USER=postgres
DB_PASS=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/neomarket_b2b
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/neomarket_b2b

#В Docker-окружении DB_HOST должен быть postgres (имя сервиса), а не localhost. 
#Это уже настроено в docker-compose.yml.